<!DOCTYPE html>
<html>
<div class="aboutimg">
</div>
  <head>
    <div class="aboutimg">
    </div>
    <link href = "about.scss" rel = "stylesheet" type = "text/scss">
    <meta charset="utf-8">
    <title>About Me</title>
    <nav class="navbar navbar-inverse">

       <div class="container-fluid">
          <div class="container">
            <div class="navbar-header">
                <%= link_to 'Home', root_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-header">
                <%= link_to 'About', about_path, class: "navbar-brand" %>
            </div>
            <div class="navbar-header">
                <%= link_to 'Gallery', gallery_path, class: "navbar-brand" %>
              </div>
            <div class="navbar-header">
              <%= link_to 'Calendar', calendar_path, class: "navbar-brand" %>
          </div>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <div class="container">
    <div class= "abouth1">
      <h1>My Story</h1>
        <div class= "abouth2">
            <h2>Why Hire Me?</h2>
            <div class= "abouth2">
          <h2></h2>

          <img src=/assets/image1.jpg alt="picture">
          <div class="grid">
      <div class="col-1-2">
         <div class="content">
             <p>...insert content left side...</p>
         </div>
      </div>
      <div class="col-2-2">
         <div class="content">
             <p>...insert content right side...</p>
         </div>
      </div>
  </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
