<!DOCTYPE html>
<html>
<div class="aboutimg">
</div>
  <head>
    <div class="aboutimg">
    </div>
    <link href = "about.scss" rel = "stylesheet" type = "text/scss">
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
    <div class= "abouth1">
      <h1>SO YOU WANT TO KNOW ABOUT ME HUH?</h1>
        <div class= "abouth2">
            <h2>ARE YOU SURE YOU DO??</h2>
            <div class= "abouth3">
          <h3>OKAY IF YOU SAY SO!</h3>
          <img src=/assets/image1.jpg alt="picture">
          <div class="grid">
      <div class="col-1-2">
         <div class="content">
             <p>...insert content left side...</p>
         </div>
      </div>
      <div class="col-2-2">
         <div class="content">
             <p>...insert content right side...</p>
         </div>
      </div>
  </div>
        </div>
      </div>
    </div>
  </body>
</html>
