<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<div class= "col-md-3">
       <%= render 'form', appointment: @appointment %>
</div>
 <div class= "col-md-8">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=crumusicgroup%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FPhoenix" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>


  </body>
</html>
