<html>
<head>
  <nav class="navbar navbar-inverse">

     <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
              <%= link_to 'Home', root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-header">
              <%= link_to 'About', about_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-header">
              <%= link_to 'Gallery', gallery_path, class: "navbar-brand" %>
            </div>
          <div class="navbar-header">
            <%= link_to 'Calendar', calendar_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>
  </nav>

</head>
<body>
  <div class="container">
    <div class="gallery">
      <img src=/assets/videodj.gif alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/image1.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/crowd2.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/example.jpg alt="picture">
    </div>
    <div class="gallery">
      <img src=/assets/turntable.jpg alt="picture">
    </div>
  </div>
</body>
</html>
