<html>
<head>
  <nav class="navbar navbar-inverse">

     <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
              <%= link_to 'Home', root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-header">
              <%= link_to 'About', about_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-header">
              <%= link_to 'Gallery', gallery_path, class: "navbar-brand" %>
            </div>
          <div class="navbar-header">
            <%= link_to 'Calendar', calendar_path, class: "navbar-brand" %>
        </div>
      </div>
    </div>
  </nav>

</head>
<body>
  <div class="container">
<div class="gallery">
  <a target="_blank" href="videodj.gif">
    <img src=/assets/videodj.gif alt="picture">
  </a>
  <div class="desc"></div>
</div>
<div class="gallery">
  <a target="_blank" href="image2.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="crowd2.jpg">
    <img src=/assets/crowd2.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/example.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="fox.jpg">
    <img src=/assets/fox.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="example.jpg">
    <img src=/assets/image1.jpg alt="picture">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</div>
</body>
</html>
