<p id="notice"><%= notice %></p>

<div>
<iframe src="https://calendar.google.com/calendar/embed?src=718fgkiru7q3hbtk490ln7dpl0%40group.calendar.google.com&ctz=America%2FPhoenix" style="border: 0; border-color: #D3D3D3" width="600" height="400" frameborder="0" scrolling="no" ></iframe>

<br>

<%= render 'form', appointment: @appointment %>

</div>
