<body id="gif">
<p id="notice"><%= notice %></p>

<!-- <h1 id="front"> Dj Crues</h1> -->
<div id="mainpage">
<h1>DJ CRUES</h1>
   <p><%= link_to 'About', about_path, id:"DJC" %></p>
   <p><%= link_to 'Gallery', gallery_path, id:"DJC" %></p>
   <p><%= link_to 'Book Event', calendar_path, id:"DJC" %></p>

</div>
</body>
